@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    font-family: "Share Tech Mono", monospace;
    /* font-family: Arial, Helvetica, sans-serif */
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
    z-index: 1;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

h1 {
    /* font-family: "Share Tech Mono", monospace; */
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    transform: scale(1, 1.7);
    letter-spacing: -0.05em;
    color: white;
    z-index: 1;
}

h3 {
    color: white;
    /* opacity: 75%; */
}

#landing-name {
    font-size: 4em;
    margin: 0;
    padding: 0;}

#landing-container {
    /* background-color: red; */
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Optional: set a max width */
    height: 100%; /* Fill the flex row without exceeding it */
}

#landing-menu {
    /* background-color: green; */
    margin-right: 20px;
    margin-top: 20px;
}

#container3D {
    position: absolute;
    inset: 0;
    /* background-color: blueviolet; */
    z-index: 100;
    /* pointer-events: none; FIXME: animation when pointed at? */

}

#landing-container {
  perspective: 800px;
}

.heading {
  display: inline-block;
  transform-style: preserve-3d;
  will-change: transform;
  color: #fff;
}

/* COWS */

.menu {
    /* position: absolute; */
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 200px;
    overflow: auto;
}

.menu-buttons {
    /* background-color: thistle; */
    color: white;
    text-decoration: none;
    z-index: 3000;
}

p {
    margin-bottom: 50px;
}

ul {
    margin-bottom: 50px;
}

#portrait-image {
    padding: 30px;
}

#about-me-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 80%;
}

#ufo-image {
    position: absolute;
    top: 50px;
    right: 200px;
    width: 100px;
    z-index: 0;
}
